In [2]:

import numpy as np
import pandas as pd
df = pd.DataFrame({'Name': ['Raj', 'Akhil', 'Sonum', 'Tilak', 'Divya', 'Megha'],
                    'Age': [20, 22, 21, 19, 17, 23],
                    'Rank': [1, np.nan, 8, 9, 4, np.nan]})

print(df)

    Name  Age  Rank
0    Raj   20   1.0
1  Akhil   22   NaN
2  Sonum   21   8.0
3  Tilak   19   9.0
4  Divya   17   4.0
5  Megha   23   NaN