In [4]:
import pandas as pd
dataframe = pd.read_csv('data2.csv')
print(dataframe) # original dataframe

print()
print("After filling Nan with 0:")
print()
dataframe_nullfill = dataframe.fillna(0)

print(dataframe_nullfill) # dataframe after filling NaN values with 1

            Name     Occupation   Salary
0  0  Aparna Raj         Intern  10000.0
1  1   Raj Mohan  Bank employee      NaN
2  2       Deepa       Engineer  50000.0
3  3       Vinod      Busniness  35000.0
4  4      Vikram    Electircian      NaN

After filling Nan with 0:

            Name     Occupation   Salary
0  0  Aparna Raj         Intern  10000.0
1  1   Raj Mohan  Bank employee      NaN
2  2       Deepa       Engineer  50000.0
3  3       Vinod      Busniness  35000.0
4  4      Vikram    Electircian      NaN