In [1]:
import pandas as pd
dataframe = pd.read_csv("data.csv")
print (dataframe)
row=dataframe.iloc[[0,1],:]
print(row)

       id   name  age  occuption
0      1   Vinay  22    engineer
1      2   Kushal 25      doctor
2      3   Aman   24  accountant
       id   name  age  occuption
0      1   Vinay  22    engineer
1      2   Kushal 25      doctor